[Unit]
Description=deis-backup-restore

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=20m
RestartSec=5
Restart=on-failure
ExecStartPre=/bin/sh -c "docker history myriadmobile/deis-backup-restore >/dev/null || docker pull myriadmobile/deis-backup-restore"
ExecStartPre=/bin/sh -c "docker inspect deis-backup-restore >/dev/null 2>&1 && docker rm -f deis-backup-restore >/dev/null 2>&1 || true"
ExecStart=/bin/sh -c "docker run --name deis-backup-restore myriadmobile/deis-backup-restore-service --key REPLACE_ME --secret REPLACE_ME --bucket REPLACE_ME --etcd-host $COREOS_PRIVATE_IPV4 backup"
ExecStopPost=-/usr/bin/docker rm -f deis-backup-restore

[X-Fleet]
MachineOf=deis-store-gateway@1.service